@tailwind base;
@tailwind components;
@tailwind utilities;

.box-bg{
    background-color: #fbfbf1;
    background-image: linear-gradient(#cbf6fe 2px, transparent 0),
    linear-gradient(90deg, #cbf6fe 1px, transparent 0);
    background-size: 1.6rem 1.6rem, 1.6rem 1.6rem;
    background-position: -.8rem;
    background-attachment: fixed;
}
